@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-pearl: var(--theme-bg);
  --color-white: var(--theme-card);
  --color-oatmeal: var(--theme-border);
  --color-onyx: var(--theme-text-main);
  --color-stone: var(--theme-text-muted);
  --color-forest: var(--theme-primary);
  --color-forest-dark: var(--theme-primary-hover);
  --color-crimson: var(--theme-danger-text);
  --color-danger-bg: var(--theme-danger-bg);
  --color-danger-border: var(--theme-danger-border);
  --color-ash: var(--theme-ash);
  --color-graphite: var(--theme-graphite);

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

:root {
  --theme-bg: #FDFBF7;
  --theme-card: #FFFFFF;
  --theme-border: #EFECE6;
  --theme-text-main: #2C2C2A;
  --theme-text-muted: #6A6A65;
  --theme-primary: #3A4A3F;
  --theme-primary-hover: #2E3A32;
  
  --theme-danger-text: #8A3C3C;
  --theme-danger-bg: #F9EAEA;
  --theme-danger-border: #F4DADA;
  
  --theme-ash: #F0F0EE;
  --theme-graphite: #5E5E5A;
}

.dark {
  --theme-bg: #1C1C1A;
  --theme-card: #262624;
  --theme-border: #3A3A36;
  --theme-text-main: #EFECE6;
  --theme-text-muted: #A09F9A;
  --theme-primary: #5C8065;
  --theme-primary-hover: #6A9374;

  --theme-danger-text: #E88E8E;
  --theme-danger-bg: #3A2A2A;
  --theme-danger-border: #4A3A3A;
  
  --theme-ash: #3A3A36;
  --theme-graphite: #EFECE6;
}

body {
  background-color: var(--color-pearl);
  color: var(--color-onyx);
  font-family: var(--font-sans);
  margin: 0;
}
